<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs')%>

    <main>
      <% if(errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
        <div class="form-control">
          <label for="title">Title</label>
          <input
          class="<%= validationErrors.find(err => err.path === 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<%= oldInput.title %>"/>
        </div>
        <!-- <div class="form-control">
          <label for="imageURL">Image URL</label>
          <input class="<%= validationErrors.find(err => err.path === 'imageURL') ? 'invalid' : '' %>" type="text" name="imageURL" id="imageURL" 
          value="<%= oldInput.imageURL %>"/>
        </div> -->
        <div class="form-control">
          <label for="image">Image</label>
          <input type="file" name="image" id="image"/>
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input class="<%= validationErrors.find(err => err.path === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" 
          value="<%= oldInput.price %>"/>
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea class="<%= validationErrors.find(err => err.path === 'description') ? 'invalid' : '' %>" name="description" id="description" ><%= oldInput.description %></textarea>
        </div>

        <button class="btn" type="submit">Add Product</button>
        <%- include('../includes/csrf.ejs')%>
      </form>
    </main>
<%- include('../includes/end.ejs')%>
